<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Интернет Магазин</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
  </head>
  <body>
    <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkUtpVf9BaOOVPzAZOXl8E_OCwYTp17S-WBA&usqp=CAU"> -->
    <div class="head">
      <h1>Интернет</h1>
    </div>

    <!-- <iframe width="100%" height="400px" src="http://api.2ip.ua/api-speedtest/ru/" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

    <div class="cards">
      {% for item in data %}

      <div class="card">
        <img src="../static/cards/{{item.id}}.jpg" class="image">
        <h5>Айди товара: {{ item.id }} </h3>
        <h1>{{ item.wifiname}}</h2>
        <p>{{ item.wifispeed }} скорость</p>
        <p>{{ item.wifidelay }} скорость включения</p>
        <p>{{ item.wifipricemonth }} цена в месяц</p>
        <p>{{ item.wifimaxusers }} максимальное количество пользователей</p>
        <!-- кнопку покупки -->
        <div class="buy">
        <button>Купить</button>
        </div>
        <!-- кнопка должна быть внутри карточки -->
        <!-- кнопка должна быть красивой -->
        <!-- кнопка должна светиться белым кгда на нее наводишь -->
      </div>
      {% endfor %}
    </div>
  </body>
</html>
